<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="app"
             fileName="target/app.log"
             filePattern="target/app.log.%i">
            <PatternLayout pattern="%-5p %d{yyyy-MM-dd HH:mm:ss} %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB" />
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="3"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger level="info" name="Console">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger level="debug" name="app">
            <AppenderRef ref="app"/>
        </Logger>
    </Loggers>

</Configuration>

